.student {
  margin-top: 150px;
  width: 400px;
  height: 80px;
  background: #1B3C59;
}

.student .student-left,
.student .student-right {
  float: left;
  height: 100%;
}

.student .student-left {
  padding: 0 10px;
  width: 30%;
}

.student .student-left img {
  margin-top: 5px;
  height: 70px;
  border-radius: 100%;
}

.student .student-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  color: white;
}

.student .student-right h3 {
  font-size: 18px;
}

.card {
  margin: 100px auto;
}
